body{
    background-color:aqua;
}

header{
    justify-content: space-between;
    background-color: #A4DCF4;
    border-bottom: 10px solid #F25A70;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
}

nav{
    text-align: right
    
}

a{
    display: inline-flex;
    color:  rgb(255,255,255);
    font-size: 20px;
    font-family: "fira code", arial, helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    margin-right: 30px;
}

#com-quadrado::before{
    content: "";
    width: 10px;
    height:10px;
    background-color: #1B4658;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #1B4658;
    padding: 18px 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0 #F25A70;
    text-align: center;
    margin-right: 0;
    transition: background-color 0s;
    transition: transform 90ms linear;
}

#button:hover{
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #1B4658;
    transform: scale(1.04)
}

a:hover, .button-1:hover{
    background-color: #F25A70;
    color: #1B4658;
}


#contatos-1{
    height: 60px;
    width: 170px;
    left: 181px;
    top: 418px;
    margin-right: 112px;
    position: absolute;
}

#download-2{
    position: absolute;
    width: 170px;
    height: 60px;
    left: 463px;
    top: 418px;
}

.button-2{
    background-color: #1B4658;
    box-shadow: 5px 5px 0 #F25A70;
    margin-bottom: 399px;
    margin-top: 38px;
    margin-right: 807px;
}

.button-2:hover{
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #1B4658;
    transform: scale(1.04)
}
