.button{
    display: inline-block;
    background-color: #1B4658;
    padding: 18px 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0 #F25A70;
    text-align: center;
    margin-right: 0;
    transition: background-color 0s;
    transition: transform 90ms linear;
    font-size: 20px;
}

.button:hover{
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #1B4658;
    transform: scale(1.04)
}
