.section-projects{ 
    border-bottom: 10px solid #F25A70;
}

.section-projects .wrapper-projects{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
}

.section-projects .wrapper-projects .button.-projects{
    background-image: url(../../assets/img/Logo\ my\ portfolio.jpg);
    width: 280px;
    height: 280px;
}

.section-projects .title.-third{
    margin-bottom: 50px;
}
