.section{
    background-color: #1B4658;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #A4DCF4;
}

.section .title {
    margin-bottom: 80px;
}

.section-projects{
    max-width: 1440px;
    height: 530px;
    background-color: #000;
}