.title{
    font-family: "Press Start 2P", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-shadow: 4px 0 #000;
    text-align: center;
}

.title.-second{
    color: #F25A70;
    text-shadow: none;
}

.title.-third{
    padding-top: 50px;
}